---
import Layout from '@layouts/Layout.astro';

import Header from '@sections/Header.astro';
import Footer from '@sections/Footer.astro';

import Hero from '@sections/Hero.astro';
import Problem from "@sections/Problem.astro";
import Solution from "@sections/Solution.astro";


import UsVsThem from "@sections/UsVsThem.astro"
import Precio from '@sections/Precio.astro';
import FAQs from '@sections/FAQs.astro';
import Blog from "@sections/Blog.astro"
import Contact from '@sections/Contact.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main class="m-auto">
		<Hero />
		<Problem />
		<Solution />
		<UsVsThem />
		<Precio />
		<FAQs />
		<Blog />
		<Contact />
	</main>
	<!-- SocialProof

	Features
	
	How It Works

	Benefits

	Case of Use / Demo
	Img Captures 

	Testimonials

	CTA -->
	<Footer />
</Layout>
