---
import Layout from '@layouts/Layout.astro';

import Header from '@sections/Header.astro';
import Footer from '@sections/Footer.astro';

import Hero from '@sections/Hero.astro';
import Problem from "@sections/Problem.astro";
import Solution from "@sections/Solution.astro";
import Features from '@sections/Features.astro';
import HowItWorks from '@sections/HowItWorks.astro';
import Benefits from '@sections/Benefits.astro';
import Demos from '@sections/Demos.astro'

import UsVsThem from "@sections/UsVsThem.astro"
import Precio from '@sections/Precio.astro';
import FAQs from '@sections/FAQs.astro';
import Contact from '@sections/Contact.astro';
import Blog from "@sections/Blog.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main class="m-auto">
		<Hero />
		<Problem />
		<Solution />
		<Features />
		<HowItWorks />
		<Benefits />
		<Demos />
		<UsVsThem />
		<Precio />
		<FAQs />
		<Contact />
		<Blog />
	</main>
	<!-- 

	Benefits
	Case of Use / Demo (Cadena rapida pollos, restaurante. pizzeria, cafetería, cocina oculta, corrientazos, hamburgesa, heladeria)
	Testimonials

	CTA -->
	<Footer />
</Layout>
