---
import RegaloSVG from "@assets/regalo.svg"
import Promocion from "@components/Promocion.astro"


import StarSVG from "@assets/star.svg"

const banner = `"https://res.cloudinary.com/dr5knskbb/image/upload/v1783921075/banner-lluvia-pedidos_vgsblq.webp"`
const squareLogo = "https://res.cloudinary.com/dr5knskbb/image/upload/v1783922991/logosquare-maspedidos_eze2rk.webp"
const heroImage = "https://res.cloudinary.com/dr5knskbb/image/upload/v1783919483/hero-product_dlbqhr.webp"

const testimonials = [
    "https://res.cloudinary.com/dr5knskbb/image/upload/v1782417317/newlogo-broaster_rlravt.webp",
    "https://res.cloudinary.com/dr5knskbb/image/upload/v1774843476/logotipo-gelattos_dgleg9.webp",
    "https://res.cloudinary.com/dr5knskbb/image/upload/v1771643096/logo-square_exzyuq.webp",
    "https://res.cloudinary.com/dc8vxeapd/image/upload/v1773968024/logo-mandioka_rzvlkw.webp",
    "https://res.cloudinary.com/dr5knskbb/image/upload/v1782194242/sensory-logo_dafwlh.webp"
]
---

<section class="text-center flex flex-col justify-center items-center px-3 m-auto lg:flex-row lg:gap-4">
    <div class="flex flex-col justify-center items-center gap-4 w-full">
        <div class=`bg-[url(${banner})] aspect-1983/793 bg-image w-full bg-contain bg-no-repeat max-w-125`>
        </div>
        <h1 class="font-extrabold flex flex-col mt-0">
            <span>Vende más domicilios</span>
            <span>para&nbsp;
                <span class="inline-block -rotate-1 bg-red-700 text-white px-2 py-1 whitespace-nowrap shadow:md">
                    <span class="inline-block rotate-1">tu restaurante</span>
                </span>
            </span>
        </h1>
        <p class="text-lg mt-0">Tu  
            <strong> menú digital </strong> 
            que realmente genera pedidos por 
            <strong> WhatsApp sin comisiones</strong>
        </p>
        <div>
            <a class="bg-[#a41c1c] text-white font-extrabold border-0 rounded-xl px-8 py-3 text-base flex justify-center items-center gap-2 w-fit" href="https://wa.me/573163896572?text=Hola,%20quiero%20implementar%20M%C3%A1s%20Pedidos%20para%20mi%20negocio📈" target="_blank">
                <img src={squareLogo} alt="logotipo mas pedidos" class="w-6">
                <span>Quiero más pedidos</span>
            </a>
            <Promocion />
        </div>
        <div class="flex justify-center items-center flex-col gap-2">
            <div class="flex -space-x-2">
                {
                    testimonials.map(item => {
                        return (
                            
                            <img src={item} alt="" class="w-10 h-10 object-contain rounded-full border-3 border-white overflow-hidden bg-white"/>
                            
                        )
                    })
                }
            </div>
            <div class="flex text-amber-400">
                <StarSVG class="h-5 w-5"/>
                <StarSVG class="h-5 w-5"/>
                <StarSVG class="h-5 w-5"/>
                <StarSVG class="h-5 w-5"/>
                <StarSVG class="h-5 w-5"/>
            </div>
            <p class="-mt-1">
                <span class="font-extrabold">+30% domicilios nuevos</span><span> constantes</span>
            </p>
        </div>
    </div>
    <div class="object-contain flex flex-col items-center">
        <h2 class="font-extrabold bg-red-700 text-white px-4 w-fit">Sistema de venta completo</h2>
        <img src={heroImage} alt="" class="w-full">
    </div>
</section>