---
import RegaloSVG from "@assets/regalo.svg"
---
<p class="flex flex-row gap-1 text-red-700 font-extrabold mt-2">
    <RegaloSVG class="w-5 h-5 animate-pulse fill-red-700" />
    <span>
        ¡Oferta de julio
        <span class="text-black"> 3 meses gratis!</span>
    </span>
</p>
