---


---


<section class="py-12 bg-slate-100">
    <h2 class="text-center">Lo que cambia en tu negocio</h2>
    <div class="px-3 py-8 bg-green-300/30 w-fit m-auto rounded-md">
        <ul class="p-0 text-neutral-800 leading-8 w-fit flex flex-col items-center justify-center m-auto">
            <li class="list-none">
                <span class="text-green-600 font-semibold">Caos</span> de pedidos en hora
                pico
            </li>
            <li class="list-none">
                Chats <span class="text-green-600 font-semibold"
                    >largos y repetitivos</span>
            </li>
            <li class="list-none">
                Atender por whatsapp <span class="text-green-600 font-semibold"
                    >manualmente</span>
            </li>
            <li class="list-none">
                Precios <span class="text-green-600 font-semibold">altos</span> por intermediarios
            </li>
            <li class="list-none">
                <span class="text-green-600 font-semibold">Dependencia</span> de apps
                delivery
            </li>
            <li class="list-none">
                Horas muertas <span class="text-green-600 font-semibold"
                    >sin pedidos</span>
            </li>
        </ul>
        <p class="font-semibold">
            <span class="text-green-600">+ Problemas tediosos </span><span
                class="line-through">que impiden crecer</span>
        </p>
    </div>
</section>