---
import ArrowBottomSVG from "@assets/arrow-bottom.svg"

---

<section id="contacto" class="flex flex-col justify-center items-center py-16">
    <h2>¿Tienes dudas?</h2>
    <p class="flex justify-center items-center">Contáctanos y te ayudamos<ArrowBottomSVG class="inline w-6 h-6"/></p>
    <a href="https://wa.me/573163896572" target="_blank" class="bg-green-600 px-8 py-3 rounded-sm no-underline text-white">Escribir por WhatsApp</a>
</section>