---
import { pages } from "astro/hono"


const header = {
    logo: "https://res.cloudinary.com/dr5knskbb/image/upload/v1783920052/maspedidos-logotipo_aqeax5.webp",
    menu: [ {page: "precios", href: "#precios"}, {page: "demo", href: "#demo"}, {page: "contacto", href: "#contacto"}]
}

---

<header class="flex justify-between items-center px-3 box-border gap-2">
    <img src={header.logo} alt="logotipo" class="w-40 object-contain">
    <menu class="p-0">
        <ul class="list-none flex gap-3 p-0 flex-wrap">
            {
                header.menu.map(item => {
                    return (
                        <li>
                            <a href={item.href} class="no-underline text-black capitalize hover:underline">{item.page}</a>
                        </li>
                    )
                })
            }
        </ul>
    </menu>
</header>